<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="__PUBLIC__/img/favicon.ico" />
    <link rel="bookmark" href="__PUBLIC__/img/favicon.ico" />
    <title>学生加权平均</title>
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="__PUBLIC__/css/query.css" type="text/css">
</head>
<body>

<div class="table-responsive container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <center><h3><span class="glyphicon glyphicon-user"></span> 学生加权平均成绩</h3></center>
        </div>
        <div class="panel-body">
            <table class="table table-bordered table-striped">
                <tbody style="text-align: center">
                <tr class="info">
                    <td>学 号</td>
                    <td>姓 名</td>
                    <td>性 别</td>
                    <td>入学年份</td>
                    <td>班 级</td>
                    <td>加权平均</td>
                </tr>
                <volist name="studentsAverage" id="vo">
                    <tr>
                        <td style="line-height: 35px">{$vo.sid}</td>
                        <td style="line-height: 35px">{$vo.sname}</td>
                        <td style="line-height: 35px">{$vo.sex}</td>
                        <td style="line-height: 35px">{$vo.schoolyear}</td>
                        <td style="line-height: 35px">{$vo.class}</td>
                        <td style="line-height: 35px">{$vo.average}</td>
                    </tr>
                </volist>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="__PUBLIC__/js/jquery.min.js"></script>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
<script>

</script>
</body>
</html>